@import '_main';

.Profile__header {
    display:flex;
    justify-content: left;
    background-color: $primary-color;
    gap: 2.5em;
    height: 15em;
    margin-top: 2.5em;
    padding: 2em 10em 2em 10em;
}

.header__left img {
    height: 100%;
}

.header__right {
    color: white;
    margin: 0;
}

.header__displayName {
    font-size: 3em;
    margin: 0;
}
.header__subtitle {
    margin: 0;
    font-size: 1em;
    font-weight: 200;
}

.header__description {
    font-weight: 400;
}