@import '_main';
.Profile {
    height: 100%;
    overflow-y: scroll;
    overflow-x: clip;
    background-color: $paperbackground-color; 
}

.Showcases {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}