@import 'styles/variables';

@mixin text-button($text-color: $secondary-color, $font-size: 1em) {
    color: $text-color;
    font-size: $font-size;
    &:hover{
        opacity: 0.8;
        transition: 0.2s;
    }
}